.custom-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Soft shadow */
  /* transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
  border: none;
}

.custom-btn {
  background-color: rgb(10, 45, 99); 
  color: white;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* .custom-btn:hover {
  background-color: rgb(10, 45, 99) !important;
  color: white !important;
} */
.custom-btn:hover {
  background-color: white;
  font-weight: bold;

  color: rgb(10, 45, 99);
  border: 2px solid rgb(10, 45, 99); /* Keep border to prevent shifting */
}
