.rotate-on-hover {
    transition: transform 0.6s ease;
}

.rotate-on-hover:hover {
    transform: rotate(90deg);
}
.common-color{
   background-color: rgb(10, 45, 99) !important;
   color: white !important;
}

